.input-1 {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.input-1 .input-label {
  font-size: 18px;
  color: black;
  font-weight: 700;
  margin-bottom: 12px;
}

.input-1 input {
  border: 1px solid rgba(0, 0, 0, 50%);
  color: black;
  font-size: 14px;
  padding: 8px;
}
